*{
    margin:0;
}
body{
    width: 100vw;
    height: 100vh;
}

#particles-js{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;

}

.box {
    width: 1em;
    height: auto;
    font-size: 5em;
    
    }

#x{
    width: 70vw;
    height: 0vh;
    position: fixed;
    top:50vw - height;
}
#y{
    width: 0vw;
    height: 100vh;;
    position: fixed;
    left:50vw - height;
}