*{
    margin:0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#point{
    position: fixed;
    top: 50vh-height;
    left:50vw -width;
}
.tiro{
    position: fixed;
    top: 50vh-height;
    left:50vw -width;
    transition: all 1s;
    /* display:none; */
}
#player {
    width: 1em;
    height: auto;
    font-size: 5em;
    position: fixed;
    top:50vw - height;
    
    }
#particles-js{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    z-index: 99999;

}

#x{
    width: 70vw;
    height: 0vh;
    position: fixed;
    top:50vw - height;
}
#y{
    width: 0vw;
    height: 100vh;;
    position: fixed;
    left:50vw - height;
}