body{
    margin:0;
}

.Container, #Carregamento, #Container_loading, #Barra_loading, #Label, footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background: rgb(237, 242, 247);
    transition: all 1ss;

}
.Container{
    width: 100vw;
    height: 100vh;
}
    #Iniciar{
        padding: 3em;
        background-color: #ffff;
        box-shadow:
            3.4px 3.4px 4.5px rgba(0, 0, 0, 0.022),
            8.7px 8.7px 11.3px rgba(0, 0, 0, 0.031),
            17.7px 17.7px 23px rgba(0, 0, 0, 0.039),
            36.5px 36.5px 47.5px rgba(0, 0, 0, 0.048),
            100px 100px 130px rgba(0, 0, 0, 0.07);
        border: 0.2em solid #fff;
        opacity:0.8;
        font-size: 1em;
        transition: all 0.5s;
    }
    #Iniciar:hover{
        opacity:1;
        font-size: 1.1em;
        border-bottom: 0.2em solid green;
    }
    #Iniciar:active{
        opacity:0;
        font-size: 0.8em;
        
    }
    #Carregamento{
        display: none; 
       
    }
        #Container_loading{
            border-radius: 100em;
            padding: 0 1em 0 1em;
            align-items:flex-start;
            width: 75em;
            height: 3em;
            color:white;
            background-color: #ffff;
            box-shadow:
                3.4px 3.4px 4.5px rgba(0, 0, 0, 0.022),
                8.7px 8.7px 11.3px rgba(0, 0, 0, 0.031),
                17.7px 17.7px 23px rgba(0, 0, 0, 0.039),
                36.5px 36.5px 47.5px rgba(0, 0, 0, 0.048),
                100px 100px 130px rgba(0, 0, 0, 0.07)
                ;
                box-shadow:
                inset,
                3.4px 3.4px 4.5px rgba(0, 0, 0, 0.022),
                
        }
            #Barra_loading{
                border-radius: 100em;
                height: 2em;
                color:white;
                transition: all 0.1s;
                background-color: green;
                align-items:flex-end;
                box-shadow:
                3.4px 3.4px 4.5px rgba(0, 0, 0, 0.022),
                8.7px 8.7px 11.3px rgba(0, 0, 0, 0.031),
                17.7px 17.7px 23px rgba(0, 0, 0, 0.039),
                36.5px 36.5px 47.5px rgba(0, 0, 0, 0.048),
                100px 100px 130px rgba(0, 0, 0, 0.07)
                ;
            }   
                #Barra_loading_content{
                    border-radius: 100em;
                    background-color: white;
                    color:green;
                    padding:0.5em;
                    box-shadow:
                        3.4px 3.4px 4.5px rgba(0, 0, 0, 0.022),
                        8.7px 8.7px 11.3px rgba(0, 0, 0, 0.031),
                        17.7px 17.7px 23px rgba(0, 0, 0, 0.039),
                        36.5px 36.5px 47.5px rgba(0, 0, 0, 0.048),
                        100px 100px 130px rgba(0, 0, 0, 0.07);
                    font-weight: bolder;
                }
        #Label{
            border-radius: 100em;
            padding: 0 1em 0 1em;
            color:dark;
            background-color: #ffff;
            box-shadow:
                3.4px 3.4px 4.5px rgba(0, 0, 0, 0.022),
                8.7px 8.7px 11.3px rgba(0, 0, 0, 0.031),
                17.7px 17.7px 23px rgba(0, 0, 0, 0.039),
                36.5px 36.5px 47.5px rgba(0, 0, 0, 0.048),
                100px 100px 130px rgba(0, 0, 0, 0.07)
                ;
           
            height: 3em;
            color:dark;
            transition: all 1s;
        }
        footer{
            position: absolute;
            bottom:0;
            width: 100vw;
            height: auto;
            background-color: #ffff;
            text-align: center;
        }