body{
    margin: 0px;
}

#Container, #Contador, #Contador_Display, .Contador_Cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #Contador{
        width: 50vw;
        height: 40vh;
        border: 1px solid red;
        
    }
        #Contador_Display{
            width: 90%;
            height: 90%;
            border: 1px solid green;
            flex-direction: row;
            
        }
            .Contador_Cont{
                width: 33.3%;
                height: 33.3%;
                font: 5em sans-serif;
                margin: 1%;
                border: 1px solid blue;
            }
                p{
                   
                    
                    width: 33.3%;
                    height: 33.3%;
                    border: 1px solid blue;
                    text-align: center;
                    align-items: center;
                }
        #Contador_Botoes{
            position: absolute;
            top:68%;
        }
            
        
